!!! COLORS
! gruvbox dark
*.foreground: #ebdbb2
*.background: #282828
*.cursorColor: pink
! black
*.color0: #282828
*.color8: #928374
! red
*.color1: #cc241d
*.color9: #fb4934
! green
*.color2: #98971a
*.color10: #b8bb26
! yellow
*.color3: #d79921
*.color11: #fabd2f
! blue
*.color4: #458588
*.color12: #83a598
! magenta
*.color5: #b16286
*.color13: #d3869b
! cyan
*.color6: #689d6a
*.color14: #8ec07c
!! white
*.color7: #a89984
*.color15: #ebdbb2
!
!!*.foreground:   #93a1a1
!!*.foreground:   #FFFFFF
!!*.background:   #002b36
!!*.background:   #A9A9A9
!
!! black
!!*.color0:       #A9A9A9
!!*.color8:       #657b83
!
!! red
!!*.color1:       #dc322f
!!*.color1:       #8B0000
!!*.color9:       #dc322f
!!*.color9:       #FF0000
!
!! green
!!*.color2:       #859900
!!*.color10:      #859900
!
!! yellow
!!*.color3:       #b58900
!!*.color11:      #b58900
!
!! blue
!!*.color4:       #268bd2
!!*.color12:      #268bd2
!
!! magenta
!!*.color5:       #6c71c4
!!*.color13:      #6c71c4
!
!! cyan
!!*.color6:       #2aa198
!!*.color14:      #2aa198
!
!! white
!*.color7:       #93a1a1
!*.color15:      #fdf6e3


!! Default Xft.dpi is 96
!! Scaling of 200% is 2 * 96 = 192
!! Scaling of 150% is 1.5 * 96 = 96 + 48 = 146
!! We will set it to 192 for our HiDpi screen
!Xft.dpi: 192
Xft.dpi: 96
!*.font: Consolas:pixelsize22:antialias=true:autohint=true
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! Xcursorsize
!! HiDPI (192)  calculation is 16 x 1.5 x scale (2) = 48
!Xcursor.size: 48
!! Normal dpi (96) calculation is 16 x 1.5 x scale (1) = 24
!! Xcursor.size: 24
Xcursor.size: 24

! xterm ----------------------------------------------------------------------
!
xterm*termName:           xterm-256color
Xterm*locale:             true
xterm*VT100.geometry:     80x32
xterm*background:         black
xterm*foreground:         white
xterm*faceName:           Hack Nerd Font
!xterm*faceName:           Liberation Mono
!xterm*faceName:           Terminus:style=Regular
xterm*faceSize:           12
xterm*renderFont:         true
! xterm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm*dynamicColors:      true
xterm*utf8:               1
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
!xterm*scrollBar:          true
!xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            true
! ROFI Colors
!  Use extened color scheme
rofi.color-enabled:       true
rofi.color-normal:        argb:00000000,  #dfdfdf, argb:00000000,  #C3FF70,  #222222
rofi.color-urgent:        argb:00000000,  #F99157, argb:00000000,  #F99157,  #222222
rofi.color-active:        argb:00000000,  #6699CC, argb:00000000,  #6699CC,  #976490
rofi.color-window:        argb:dd222222,  #C3FF70, #C3FF70
rofi.separator-style:     dash

! URxvt settings
!
URxvt*modifier: alt
URxvt*imLocale: en_GB.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt.transparent: true
!URxvt.shading: 20
URxvt.shading: 5
URxvt.intensityStyles: false
URxvt.depth: 32
URxvt.font: xft:Jetbrains Mono Nerd Font:autohint=true:size=12
!!URxvt.font: xft:UbuntuMono Nerd Font:autohint=true:size=12
!!xft:Hack Nerd Font:size=12
!!xft:UbuntuMono Nerd Font:size=14:autohint=true
!!xft:Inconsolata Nerd Font Mono:size=14, \
!!xft:DejaVuSansMono Nerd Font:size=14, \
!!xft:DroidSansMono Nerd Font:size=14, \
!!xft:FuraMono Nerd Font:size=14, \
!!xft:RobotoMono Nerd Font:size=14, \
!!xft:Noto Sans Mono:size=14
!! xft:Monospace:style=Medium:antialias=false
!URxvt*font: xft:Liberation\ Mono:size=14
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollBar_right: False
URxvt.cursorColor: pink
URxvt.cursorBlink: 1

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k
!! Matcher
URxvt.url-launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
!! fullscreen
!Urxvt*keysym.M-f: perl:fullscreen:switch
!
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll of Shift +Page up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
!
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt*buffered: true
URxvt*letterSpace: 0
URxvt*urlLauncher: firefox
URxvt*utf8: true
URxvt*locale: true
URxvt.keysym.M-s:           perl:keyboard-select:search

!! Light
!
!URxvt*background:              #fdf6e3
!URxvt*foreground:              #657b83
!! URxvt*fadeColor:               #fdf6e3
!URxvt*cursorColor:             #2aa198
!URxvt*pointerColorBackground:  #93a1a1
!URxvt*pointerColorForeground:  #586e75
!
!URxvt*color0:                  #073642
!URxvt*color1:                  #dc322f
!URxvt*color2:                  #859900
!URxvt*color3:                  #b58900
!URxvt*color4:                  #268bd2
!URxvt*color5:                  #d33682
!URxvt*color6:                  #2aa198
!URxvt*color7:                  #eee8d5
!
!URxvt*color8:                  #002b36
!URxvt*color9:                  #cb4b16
!URxvt*color10:                 #586e75
!URxvt*color11:                 #657b83
!URxvt*color12:                 #839496
!URxvt*color13:                 #6c71c4
!URxvt*color14:                 #93a1a1
!URxvt*color15:                 #fdf6e3

! Dark
!URxvt*background:              #000000
!URxvt*foreground:              #ffffff
!URxvt*fadeColor:               #002b36
!URxvt*cursorColor:             #93a1a1
!URxvt*pointerColorBackground:  #586e75
!URxvt*pointerColorForeground:  #93a1a1
!
!URxvt*color0:                  #073642
!URxvt*color1:                  #dc322f
!URxvt*color2:                  #859900
!URxvt*color3:                  #b58900
!URxvt*color4:                  #268bd2
!URxvt*color5:                  #d33682
!URxvt*color6:                  #2aa198
!URxvt*color7:                  #eee8d5
!URxvt*color8:                  #002b36
!URxvt*color9:                  #cb4b16
!URxvt*color10:                 #586e75
!URxvt*color11:                 #657b83
!URxvt*color12:                 #839496
!URxvt*color13:                 #6c71c4
!URxvt*color14:                 #93a1a1
!URxvt*color15:                 #fdf6e3

! Gruvbox dark
URxvt*background:              #282828
URxvt*foreground:              #ebdbb2
URxvt*fadeColor:               #928374
URxvt*cursorColor:             #93a1a1
URxvt*pointerColorBackground:  #586e75
URxvt*pointerColorForeground:  #93a1a1

URxvt*color0:                  #504945
URxvt*color1:                  #cc241d
URxvt*color2:                  #98971a
URxvt*color3:                  #d79921
URxvt*color4:                  #458588
URxvt*color5:                  #b16286
URxvt*color6:                  #689d6a
URxvt*color7:                  #a89984
URxvt*color8:                  #928374
URxvt*color9:                  #fb4934
URxvt*color10:                 #b8bb26
URxvt*color11:                 #fabd2f
URxvt*color12:                 #83a598
URxvt*color13:                 #d3869b
URxvt*color14:                 #8ec07c
URxvt*color15:                 #ebdbb2
!
!!Source http://github.com/altercation/solarized
!*background: #002b36
!*foreground: #657b83
!!!*fading: 40
!*fadeColor: #002b36
!*cursorColor: #93a1a1
!*pointerColorBackground: #586e75
!*pointerColorForeground: #93a1a1
!
!!! black dark/light
!*color0: #073642
!*color8: #002b36
!
!!! red dark/light
!*color1: #dc322f
!*color9: #cb4b16
!
!!! green dark/light
!*color2: #859900
!*color10: #586e75
!
!!! yellow dark/light
!*color3: #b58900
!*color11: #657b83
!
!!! blue dark/light
!*color4: #268bd2
!*color12: #839496
!
!!! magenta dark/light
!*color5: #d33682
!*color13: #6c71c4
!
!!! cyan dark/light
!*color6: #2aa198
!*color14: #93a1a1
!
!!! white dark/light
!*color7: #eee8d5
!*color15: #fdf6e3
!
